@font-face{
    font-family: InputNarrow;
    src: url('../fonts/InputMonoNarrow-Regular.ttf');
}

@font-face{
    font-family: InputCompressed;
    src: url('../fonts/InputSansCondensed-Regular.ttf');
}

body {
    margin: 0 !important;
    padding: 0 !important;
	background-color: #f0f0f0;
    min-width: 716px;
}

#header {
    position: sticky;
    margin: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #6d4d89, #3b3ca2);
    border: 0px;
    border-bottom: 1px solid #d0d0d0;
    box-shadow: 0px 3px 6px rgb(200, 200, 200);
    overflow: hidden;
}


#header ul,
#header-buttons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

#header ul {
    overflow: hidden;
}

#header ul li,
#header-buttons ul {
    height: 100%;
}


#header ul li a,
#header-buttons ul li a {
    display: block;
    color: #c9cdff;
    text-align: center;
    padding: 10px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: InputCompressed;
    font-size: 13pt;
    text-decoration: none;
}

#header-logo {
    float: left;
    padding-right: 20px;
}

#header-logo a {
    height: 20px;
}

#header-logo-content{
    margin-top: -7px;
    color: #f4f4f4;
}

#header ul li a:hover,
#header-buttons ul li a:hover {
    color: #f4f4f4;
}

.header-buttons-left {
    float: left;
    margin-left: 0px;
}

.header-buttons-right {
    float: right;
    margin-right: 10px;
}

#content {
    margin-left: 15%;
    margin-right: 25%;
    margin-bottom: 20px;
    min-height: calc(100vh - 262px);
    font-family: Verdana;
}

.content-block {
    margin-top: 20px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
}

.content-block p{
    line-height: 1.8;
}

#footer{
    height: 100px;
    left: 0;
    right: 0;
    background: #f0f0f0;
    color: #6d4d89;
    border-top: 1px solid #d0d0d0;
}


h1, h2{
    font-family: InputNarrow;
    font-weight: normal;
    font-size: 20pt;
    color: #3b3ca2;
}

h2{
    font-size: 18pt;
}

.code{
    font-family: 'Consolas', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: inherit;
    letter-spacing: 0.015em;
    color: #e67500;
}

.strong-code {
    width: 100%;
    background-color: #f4f4f4;
    border: 0px;
    border-left: 4px solid #008d37;
    font-family: 'Consolas', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: inherit;
    letter-spacing: 0.015em;
    line-height: 1.5em;
    padding: 3px 3px 3px 6px;
    color: #e67500;
}

.list-container li {
    margin-bottom: 10px;
    color: #6d4d89;
}

.list-container li a {
    font-family: InputCompressed;
    text-decoration: none;
    font-size: 14pt;
}

.textbox {
    width: 200px;
    height: 26px;
    padding-left: 4px;
    border: 1px solid #6d4d89;
    border-radius: 2px;
    font-family: Verdana;
    font-size: 12pt;
    background-color: #f4f4f4;
}

.textbox-code {
    width: 100%;
    height: 100px;
    padding: 4px;
    border: 1px solid #6d4d89;
    border-radius: 2px;
    font-family: Consolas;
    font-size: 12pt;
    background-color: #f4f4f4;
    resize: vertical;
}

.btn-accept {
    text-decoration: none;
    text-align: center;
    padding: 6px 10px;
    border: 0px;
    font: 13pt InputCompressed;
    color: white;
    background-color: #6d4d89;
    border-radius: 2px;
}

.btn-accept:hover {
    background-color: #3b3ca2;
}

.content-image {
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
}