<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body>
    <div id="header">
        <ul>
            <li id="header-logo">
                <a href="/home/">
                    <h1 id="header-logo-content">SQL Уроки</h1>
                </a>
            </li>
            <li id="header-buttons">
                <ul>
                    <li class="header-buttons-left"><a href="/home/">Главная</a></li>
                    <li class="header-buttons-left"><a href="/databases/">Базы данных</a></li>
                    <li class="header-buttons-left"><a href="/lessons/">Уроки</a></li>
                    <li class="header-buttons-left"><a href="/tasks/">Задания</a></li>
                    {% if logged_in %}
                        <li class="header-buttons-right"><a href="/log_out/">Выйти</a></li>
                    {% else %}
                        <li class="header-buttons-right"><a href="/login/">Войти</a></li>
                        <li class="header-buttons-right"><a href="/register/">Регистрация</a></li>
                    {% endif %}
                    {% if logged_in and username %}
                        <li class="header-buttons-right"><a href="/some_id/">{{ username }}</a></li>
                    {% endif %}
                    {% if logged_in and is_teacher %}
                        <li class="header-buttons-right"><a href="/maketask/">Создать задание</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
    </div>

</body>

</html>