{% extends "base.html" %}

{% block content %}
<div class="content-block">
			<h1>Описание баз данных</h1>
			<h2>1. База данных "Автобусный парк"</h2>
			<p>
				<img class="content-image" src="{{ url_for('static', filename='img/data_scheme_bus_park.jpg') }}">
			</p>
			<p>
				База данных состоит из 5 таблиц (сущностей):
				<ul>
					<li>Водители (<span class="code">Voditely</span>)</li>
					<li>Рейс (<span class="code">Reys</span>)</li>
					<li>Автобус (<span class="code">Avtobus</span>)</li>
					<li>Маршрут (<span class="code">Marshrut</span>)</li>
					<li>Поломка автобуса (<span class="code">Polomka_avtobusa</span>)</li>
				</ul>
			</p>
			<br>
			<p>
				<b>Дополнительная информация о таблице "Водители"</b><br>
				У каждого водителя есть паспортные данные, ФИО, стаж работы, оклад и номер маршрута, который за ним закреплен.<br>
				Отсюда таблица обладает следующими столбцами:
				<span class="code">Pasportnye_dannye</span>,
				<span class="code">Surname_name_patronymic</span>,
				<span class="code">Stazh_raboty</span>,
				<span class="code">Oklad</span>,
				<span class="code">Nomer_marshruta</span>.<br>
				"Паспортные данные" являются первичным ключом
			</p>
            <br>
            <p>
                <b>Дополнительная информация о таблице "Автобус"</b><br>
                У каждого автобуса есть номер государственной регистрации, тип и вместимость.<br>
                Так как автобус также закреплен за каким-то водитилем, то у него есть паспортные данные.<br>
                Отсюда таблица обладает следующими столбцами:
                <span class="code">Nomer_gosudarstvennoy_registracii</span>,
                <span class="code">Pasportnye_dannye</span>,
                <span class="code">Vmestimosty</span>,
                <span class="code">Tip</span>.<br>
                "Номер государственной регистрации" является первичным ключом
            </p>
            <br>
            <p>
                <b>Дополнительная информация о таблице "Маршрут"</b><br>
                У каждого маршрута есть свой номер, интервалы движения, названия начального и конечного пунктов движения, время начала и конца движения и протяженность в минутах.<br>
                Отсюда таблица обладает следующими столбцами:
                <span class="code">Nomer_marshruta</span>,
                <span class="code">Intervali_dvizheniya</span>,
                <span class="code">Nazvaniye_nachalnogo_punkta_dvizheniya</span>,
                <span class="code">Nazvaniye_konechnogo_punkta_dvizheniya</span>,
                <span class="code">Vremya_nachala_i_konca_dvizheniya</span>,
                <span class="code">Protyazhennosty_v_minutah</span>.<br>
                "Номер маршрута" является первичным ключом
            </p>
            <br>
            <p>
                <b>Дополнительная информация о таблице "Рейс"</b><br>
                У каждого маршрута есть свой номер, интервалы движения, названия начального и конечного пунктов движения, время начала и конца движения и протяженность в минутах.<br>
                Отсюда таблица обладает следующими столбцами:
                <span class="code">Pasportnye_dannye</span>,
                <span class="code">Nomer_gosudarstvennoy_registracii</span>,
                <span class="code">Nomer_marshruta</span>,
                <span class="code">Data_i_vremya_viezda</span>.<br>
                "Паспортные данные" являются первичным ключом
            </p>
            <br>
            <p>
                <b>Дополнительная информация о таблице "Поломка автобуса"</b><br>
                Поломка случается во время определенного рейса, поэтому есть паспортные данные, номер государственной регистрации и номер маршрута.<br>
                Также существуют причина, время и место поломки.<br>
                Отсюда таблица обладает следующими столбцами:
                <span class="code">Pasportnye_dannye</span>,
                <span class="code">Nomer_gosudarstvennoy_registracii</span>,
                <span class="code">Nomer_marshruta</span>,
                <span class="code">Prichina_polomki</span>
                <span class="code">Vremya_polomki</span>,
                <span class="code">Mesto_polomki</span>.<br>
                "Паспортные данные" являются первичным ключом
            </p>
            <br>
            <h2>2. База данных "Библиотека"</h2>
            <p>
                <img class="content-image" src="{{ url_for('static', filename='img/data_scheme_library.png') }}">
            </p>
            <p>База данных состоит из 5 таблиц (сущностей):
                <ul>
                    <li>Выдача книги (<span class="code">book_giving</span>)</li>
                    <li>Книги (<span class="code">books</span>)</li>
                    <li>Экземпляр книги (<span class="code">book_copy</span>)</li>
                    <li>Читатели (<span class="code">readers</span>)</li>
                    <li>Читальные залы (<span class="code">reading_room</span>)</li>
                </ul>
            </p>
            <br>
            <p>
                <b>Дополнительная информация о таблице "Выдача книги"</b><br>
                Каждая выдача книги обладает своим кодом, датой, номером читательского билета того, кто взял эту книгу, и шифром.<br>
                Отсюда таблица обладает следующими столбцами:
                <span class="code">giving_code</span>,
                <span class="code">giving_date</span>,
                <span class="code">library_card_num</span>,
                <span class="code">cipher</span>.<br>
                "Код выдачи" является первичным ключом
            </p>
            <br>
            <p>
                <b>Дополнительная информация о таблице "Книги"</b><br>
                У каждой книги есть ISBN, название, год издания, авторы, число экземпляров и издательство.<br>
                Отсюда таблица обладает следующими столбцами:
                <span class="code">ISBN</span>,
                <span class="code">name</span>,
                <span class="code">year</span>,
                <span class="code">authors</span>,
                <span class="code">num_of_copies</span>,
                <span class="code">publishment</span>.<br>
                "ISBN" является первичным ключом
            </p>
            <br>
            <p>
                <b>Дополнительная информация о таблице "Экземпляр книги"</b><br>
                У каждого экземпляра книги есть свой шифр, номер зала и ISBN.<br>
                Отсюда таблица обладает следующими столбцами:
                <span class="code">cipher</span>,
                <span class="code">num_of_room</span>,
                <span class="code">ISBN</span>.<br>
                "Шифр" является первичным ключом
            </p>
            <br>
            <p>
                <b>Дополнительная информация о таблице "Читатели"</b><br>
                У каждого читателя есть номер читательского билета, ФИО, номер паспорта, дату рождения, образование и номер читального зала.<br>
                Также учитывается ученая степень при наличии.<br>
                Отсюда таблица обладает следующими столбцами:
                <span class="code">library_card_num</span>,
                <span class="code">full_name</span>,
                <span class="code">pass_num</span>,
                <span class="code">birth_date</span>,
                <span class="code">education</span>,
                <span class="code">ac_degree</span>,
                <span class="code">num_of_room</span>.<br>
                "Номер читательского билета" является первичным ключом
            </p>
            <br>
            <p>
                <b>Дополнительная информация о таблице "Читальные залы"</b><br>
                У каждого читателя есть номер читательского билета, ФИО, номер паспорта, дату рождения, образование и номер читального зала.<br>
                Также учитывается ученая степень при наличии.<br>
                Отсюда таблица обладает следующими столбцами:
                <span class="code">num_of_room</span>,
                <span class="code">name_of_room</span>.<br>
                "Номер зала" является первичным ключом
            </p>
		</div>

{% endblock %}