{% extends 'base.html' %}

{% block content %}
<div class="content-block" style="text-align: center">
        <h1 id="main" style="color: #008d37; font-size: 30pt;">{{ main_text }}</h1>
        <h2 id="sub" style="font-size: 14pt;">{{ sub_text }}</h2><br>
        <a class="btn-accept" href="{{ ref }}">{{ ref_text }}</a>
    </div>
</div>
{% endblock %}