{% extends 'base.html' %}

{% block content %}
    <div class="content-block">
        <h1>SQL-Course</h1>
        <p>
            Приветствуем Вас на нашем сайте!
        </p>
        <p>
            Его цель - научить практическим навыкам по одному из самых популярных
            языков, который применяется для создания, модификации и управления данными
            в реляционных базах данных.
        </p>
        <p>
            Не беда, если Вы мало знаете или не знаете вовсе об SQL-запросах.
            Здесь можно начать свое обучение с нуля.<br>
            В <a href="/lessons/" class="btn-accept" style="padding: 1px 5px">Уроках</a>
            будет предоставляться информация о запросах, а также советы,
            как лучше их выполнять.
        </p>
        <p>
            Каждый урок завершается
            <a href="/tasks/" class="btn-accept" style="padding: 1px 5px">Упражнением</a>,
            список которых можно посмотреть в
            соответствующем разделе.
        </p>
        <p>
            Для успешного выполнения заданий необходимо ознакомиться с описаниями
            тренировочных баз данных. Это вы можете сделать в разделе
            <a href="/databases/" class="btn-accept" style="padding: 1px 5px">Базы данных</a>.
            Для лучшего понимания в нем представлены еще и схемы данных.
        </p>
        <p>
            Проект находится в стадии разработки, так что впоследствии будут добавлены
            новые базы данных для тренировки.
        </p>
        <p>
            Зарегистрированным пользователям открываются некоторые дополнительные возможности.
        </p>
        <p>
            Для учителей предоставляется возможность создавать собственные
            задания. Для этого при регистрации нужно указать особый учительский ключ.
        </p>
        <p>
            Надеемся, что Вам понравится и Вы усвоите кое-что новое для себя. <br>
            Успехов в изучении SQL!
        </p>

    </div>

{% endblock %}