{% extends 'base.html' %}

{% block content %}
<div class="content-block">
    <h1>Список уроков</h1>
    <br>
    <p>
        <ul class="list-container">
        {% for lesson in lessons %}
            <li>
                <a href="{{ lesson.index }}">Урок "{{ lesson.name }}"</a>
            </li>
        {% endfor %}
        </ul>
    </p>
</div>
{% endblock %}