{% extends 'base.html' %}

{% block content %}
<div class="content-block">
    <h1>{{ lesson_info['name'] }}</h1>
    <br>

    <p>
        {% autoescape false %}
            {{ lesson_info['text'] | replace('<sp>', '<span class="code">') | replace('</sp>', '</span>') |
                    replace('<sp2>', '<div class="strong-code">') | replace('</sp2>', '</div>') }}
        {% endautoescape %}
        <br>
    </p>
    <br>
    <a class="btn-accept" href="/tasks/{{ lesson_info['task'] }}">Задание</a>
</div>
{% endblock %}