{% extends 'base.html' %}

{% block content %}
<div class="content-block">
    <h1>Вход в систему</h1>
    <br>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {% for error in errors %}
            <p style="font-size: 10pt; color: #e62012;">{{ error }}</p>
        {% endfor %}
        <p>Логин <br>{{ form.username(class_='textbox') }}</p>
        <p>Пароль <br>{{ form.password(class_='textbox') }}</p>

        <input class="btn-accept" type="submit"
               value="Войти">
    </form>
</div>

{% endblock %}