{% extends 'base.html' %}

{% block content %}
<div class="content-block">
    <h1>Создание задания</h1>
    <br>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {% for error in errors %}
            <p style="font-size: 10pt; color: #e62012;">{{ error }}</p>
        {% endfor %}
        <p>
            Введите текст задания (&#60;br&#62; - для перехода на новую строку):<br>
            {{ form.task_text(class_='textbox-code') }}
        </p>
        <p>
            Введите ответ:<br>
            {{ form.task_answer(class_='textbox-code') }}
        </p>
        <p>
            Укажите ключевые слова для задания (разделяя их символом точки с запятой)<br>
            Пример: <span class="code">SELECT;*;WHERE</span><br>
            {{ form.task_keywords(class_='textbox-code') }}
        </p>
        <p>
            Укажите используемую в задании базу данных:<br>
            {% for subfield in form.task_db_choice %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr><br>
            {% endfor %}
        </p>
        <br>
        <span style="color: #e62012; font-size: 11pt;">
            Перед сохранением проверьте правильность составленного задания.<br>
            Изменить задание после сохранения не получится.
        </span>
        <br>
        <br>
        <input class="btn-accept" type="submit"
               value="Сохранить">
    </form>
</div>
{% endblock %}