{% extends 'base.html' %}

{% block content %}
<div class="content-block">
    <h1>Регистрация</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
            {% for error in errors %}
                <p style="font-size: 10pt; color: #e62012;">{{ error }}</p>
            {% endfor %}
        <p>Логин <br>{{ form.username(class_='textbox') }}</p>
        <p>E-mail <br>{{ form.email(class_='textbox') }}</p>
        <p>Пароль <br>{{ form.password(class_='textbox') }}</p>
        <p>Подтвердите пароль <br>{{ form.confirm(class_='textbox') }}</p>
        <p>Возраст <br>{{ form.age(class_='textbox') }}</p>
        <p>
            Пол <br>
            {% for subfield in form.sex %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
        </p>
        <p>Учительский ключ: <br>{{ form.secret_key(class_='textbox') }}</p>
        <input class="btn-accept" type="submit"
               value="Зарегистрироваться">
    </form>
</div>
{% endblock %}