{% extends 'base.html' %}

{% block content %}
<div class="content-block">
    <h1>Результат выполнения задания {{ task_num }}: </h1>
    {% if is_right %}
        <h2 style="color: #008d37;">Задание выполнено верно</h2>
    {% else %}
        <h2 style="color: #e62012;">Задание выполнено неверно</h2>
    {% endif %}
    <br>
    {% if is_right %}
        {% if logged_in %}
            <p><b>Статистика по заданию:</b></p>
            <p>
                {% for path, desc in imgs %}
                    {{ desc }}
                    <img class="content-image" src="{{ url_for('static', filename="temp/" + path) }}"><br>
                {% endfor %}
            </p>
        {% else %}
            <p>
            Статистика решенного задания доступна только авторизированным пользователям.
            </p>
        {% endif %}
    {% endif %}
    <a class="btn-accept" href="/tasks/">К списку заданий</a>

</div>
{% endblock %}