{% extends 'base.html' %}

{% block content %}
<div class="content-block">
    <h1>Список заданий</h1>
    <br>
    <p>
        <ul class="list-container">
        {% for task in tasks %}
            <li>
                <a href="{{ task.index }}">Задание {{ task.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </p>
</div>
{% endblock %}