{% extends 'base.html' %}

{% block content %}
<div class="content-block">
    <h1>Задание {{ task_num }}</h1>
    <br>
    <p>
        {% autoescape false %}
        {{ task_formulation }}
        {% endautoescape %}
    </p>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {% for error in errors %}
            <p style="font-size: 10pt; color: #e62012;">{{ error }}</p>
        {% endfor %}
        <p>{{ form.task_input(class_='textbox-code') }}</p>
    
        <input class="btn-accept" type="submit"
               value="Проверить">
    </form>
</div>

{% endblock %}